{% load static %}
<!DOCTYPE html>
<HTML>

    <head>
        <title>::Products::</title>
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
    </head>

    <body>
        <div class="menu">
            <nav>
                <h2 class="name">In-Store <span>Search System</span></h2>
                <ul>
                    <li><a href="{% url 'index'%}">Home</a></li>
                    <li><a href="{% url 'products'%}">Products</a></li>
                </ul>
                <button type="button">Login</button>
            </nav>
        </div>
        <div class="sidebar">
            <div class="filter">
                <h2 id="headtxt">Filter</h2>
                <a href="{% url 'products'%}">All</a>
                <a href="#" id="current">Pen</a>
                <a href="{% url 'products_pencil'%}">Pencil</a>
                <a href="{% url 'products_case'%}">Case</a>
                <a href="{% url 'products_note'%}">Notebook</a>
            </div>
        </div>
        <div class="main_content">
            <h3 >15 Items found!!!!!!!!!!!!!!!</h3>
            <div class="container">
                <h3 >6 Items found!</h3>
                <div class="item-list">
                    <div class="item">
                        <div class="item-img">
                            <img src="{% static 'img/RedPen1.jpg' %}">
                        </div>
                        <div class="item-detail">
                            <a href="#" class="item-name">Red gel pen</a>
                            <div class="item-price">
                                <span>35 THB</span>
                            </div>
                            <p>Smooth Gel Ink Knock Type Ballpoint Pen 0.5mm</p>
                            <button type="button" class="buy-btn">Buy</button>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="item-img">
                            <img src="{% static 'img/BlueBlackPen1.jpg' %}">
                        </div>
                        <div class="item-detail">
                            <a href="#" class="item-name">Blue Black gel pen</a>
                            <div class="item-price">
                                <span>35 THB</span>
                            </div>
                            <p>Smooth Gel Ink Knock Type Ballpoint Pen 0.5mm</p>
                            <button type="button" class="buy-btn">Buy</button>
                        </div>
                    </div>

                    <div class="item">
                        <div class="item-img">
                            <img src="{% static 'img/BlackPen1.jpg' %}">
                        </div>
                        <div class="item-detail">
                            <a href="#" class="item-name">Black gel pen</a>
                            <div class="item-price">
                                <span>35 THB</span>
                            </div>
                            <p>Smooth Gel Ink Knock Type Ballpoint Pen 0.5mm</p>
                            <button type="button" class="buy-btn">Buy</button>
                        </div>
                    </div>

                    <div class="item">
                        <div class="item-img">
                            <img src="{% static 'img/RedPen2.jpg' %}">
                        </div>
                        <div class="item-detail">
                            <a href="#" class="item-name">Red gel pen</a>
                            <div class="item-price">
                                <span>35 THB</span>
                            </div>
                            <p>Smooth Gel Ink Knock Type Ballpoint Pen 0.5mm</p>
                            <button type="button" class="buy-btn">Buy</button>
                        </div>
                    </div>

                    <div class="item">
                        <div class="item-img">
                            <img src="{% static 'img/BlueBlackPen2.jpg' %}">
                        </div>
                        <div class="item-detail">
                            <a href="#" class="item-name">Blue Black gel pen</a>
                            <div class="item-price">
                                <span>35 THB</span>
                            </div>
                            <p>Smooth Gel Ink Knock Type Ballpoint Pen 0.5mm</p>
                            <button type="button" class="buy-btn">Buy</button>
                        </div>
                    </div>

                    <div class="item">
                        <div class="item-img">
                            <img src="{% static 'img/BlackPen2.jpg' %}">
                        </div>
                        <div class="item-detail">
                            <a href="#" class="item-name">Black gel pen</a>
                            <div class="item-price">
                                <span>35 THB</span>
                            </div>
                            <p>Smooth Gel Ink Knock Type Ballpoint Pen 0.5mm</p>
                            <button type="button" class="buy-btn">Buy</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </body>
</HTML>